.Car {
  border: 1px solid grey;
  border-radius: 6px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  padding: 20px;
  margin-bottom: 15px;
  transition: border, 'box-shadow' 0.33s;
  text-align: center;

  &:hover {
    border: 1px solid #aaa;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}

.input {
}

.input:focus,
.input:active {
  outline: none;
  outline: blue;
}

.input.green {
  border: 1px solid green;
}

.input.red {
  border: 1px solid red;
}

.input.bold {
  border: 2px solid green;
  font-weight: bold;
}
