.container {
  width: 450px;
  text-align: center;
  margin: auto;

  .cars {
    width: 400px;
    margin: auto;
    padding-top: 20px;
  }

  h1 {
    color: blue;
  }

  .toogle-btn {
    background: rgba(128, 255, 0, 0.863);
    border: 1px solid silver;
    border-radius: 3px;
    outline: none;
    transition: 0.5s;
    padding: 10px 20px;

    &:hover {
      background: rgba(255, 255, 0, 0.534);
      cursor: pointer;
      transition: 0.5s;
    }
  }
}
